@model ExamenP10.Models.SERVICIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SERVICIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_SERVICIOS.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_SERVICIOS.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
